.wrapper {
    border: 1px solid #579BB1;
    height: 100%;
    flex: 1 1 0;
}

.header {
    color: #ffffff;
    background-color: #579BB1;
    text-align: center;
    font-weight: bold;
}

.content {
    padding: 0px 4px;
}